<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="exe" value="c:\node\node.exe" />
        <add key="app" value="c:\node\helloworld\app.js" />
        <add key="log" value="c:\node\helloworld\keepaware.log" />
        <add key="watch" value="*.js" />
    </appSettings>
</configuration>
